.logo img {
    margin-top: -4px;
}

.help-block {
    color: orangered;
}

.bg-999 {
    background-color: #999999;
    color: #fff !important;
}

div.wizard-tab {
    margin-bottom: 10px;
}

div.wizard-tab .nav-tabs {
    margin-bottom: 10px;
}

div.wizard-tab .nav-tabs li a {
    font-size: 17px;
    font-weight: bold;
}

div.wizard-tab .nav-tabs li a.disabled {    
    color: gray;
    cursor: pointer;
}

div.wizard-tab .nav-tabs li a.disabled :hover {    
    color: gray;
    cursor: pointer;
}

div.wizard-tab .nav-tabs>li.active>a, 
div.wizard-tab .nav-tabs>li.active>a:focus, 
div.wizard-tab .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #3c8dbc;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-radius: 4px;
}

div.wizard-tab .nav-tabs {
    border-bottom: 0px;
}

div.wizard-tab .tab-content {
    border: 1px solid #ddd;
}

/* .main-sidebar, .left-side { 
    width: 270px;
} */

div.permission-block select {
    min-height: 280px;
    background-color: #ecf0f5;
}

.btn-success-inverted {
    background-color: #fff;
    color: #00a65a;
    margin-top: 10px;
}

.btn-success-inverted:hover {
    background-color: #00a65a;
    color: #fff;
}
