{% form_theme form 'bootstrap_3_layout.html.twig' %}

<form action="{{ path('administration_user_edit', {'id': user_id}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}

    <div>
        <button class="submit btn btn-success" type="submit">
            Alterar palavra-passe
        </button>
    </div>
</form>
